:root {
  --button-bg-color: #1676f3;
  --font-headers-color: #656a6e;
  --font-color: #000;
  --font-pets-health: #ff00e5;
  --font-white: #fff;
  --tab-border:  #656A6E;
  --tab-bg-color: #F5F5F5;
  --input-bg:  #F6F6F6;

}
