
  $button-bg-color: #1676f3;
  $font-headers-color: #656a6e;
  $font-color: #000;
  $font-pets-health: #ff00e5;
  $font-white: #fff;
  $tab-border: #656a6e;
  $tab-bg-color: #f5f5f5;
  $input-bg: #f6f6f6;
