.comment__container {
  max-width: 1200px;
  display: flex;

   & > .authorInfo {
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    min-width: 285px;
    min-height: 245px;
    background-color: #E3E3E3;
    gap: 12px;

    & > img {
      margin-top: 14px;
      border-radius: 150px;
      width: 200px;
      height: 200px;
    }

    & > a {
      display: flex;

      & > span {
        margin: 0 auto;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #034A86;
      }
    }
   }

  & > .content__container {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    padding: 28px 40px 28px 28px;

    & > .date {
      border-bottom: 2px solid #E3E3E3;
      padding-bottom: 10px;

      & > span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #838688;
      }
    }

    & > .content {
      margin-top: 28px;
      display: flex;

      & > p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #3A4045;
        margin: 0;
        margin-right: 10px;
        word-break: break-all;
      }
    }

    & .content__controller {
      display: flex;
      flex-direction: column;

      min-width: 60px;
      min-height: 50px;

      & > button {
        border-radius: 0;
        border: 1px solid black;
        padding: 0;
        
        &:hover {
          cursor: pointer;
          opacity: 90%;
        }

        & > span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 18px;
          color: #FFFFFF;
        }
      }

      & .edit {
        background-color: #5496D4;
      }

      & .delete {
        background-color: #E8454D;
        border-top: 0;
      }
    }

    & > .likes__controller {
      margin-left: auto;

      & > button {
        background-color: transparent;
        border: 0;

        &:hover {
          cursor: pointer;
          opacity: 90%;
        }

        & > img {
          width: 20px;
          height: 20px;
        }
      }

      & > .dislike {

        & > img {
          rotate: 180deg;
        }
      }
    }
  }
}