.calendarWidget_container {
   display: inline-block;
   margin: 100px;
   width: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

   & .text_center {
      margin: 10px;
      text-align: center;
   }
}